
.account-container {
  display: flex;
  flex-direction: row;
  background-image: url("https://img.freepik.com/free-vector/purple-watercolor-abstract-background_52683-73545.jpg?w=2000");
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 3vh;
}

.welcome-title{
  font-size: 2em;
  font-weight: 300;
  color:aliceblue
}

.welcome-title span{
  font-weight: bold;
}

.avatar-img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.account-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 50%;
  justify-content: center;
  padding: 10px;
  margin: auto;
}



.account-menu .account-activity {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #181a1b;
  padding-inline: 60px;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 2px 2px 2px #fff;

}

.account-activity {
  width: 50%;
  font-size: 12px;
  color: #AE8AF0;
  font-weight: 600;
  border-radius: 2%;
}

.account-activity:hover {
  background-color: #6038A7;
}

.account-box{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  background-color: #181a1b;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  box-shadow: 3px 3px 10px 3px #000;

}

.box-title{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15px;
  color: aliceblue;
}

.box-title .title{
  font-weight: 600;
  font-size: 1.5em;
}

.box-title .account-number{
  font-weight: 250;
  color:bisque;
}

.box-balance{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  color: #AE8AF0;
  font-size: 1.75em;
  margin-right: 5px;
  font-weight: bold;
}


